{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<!-- <h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
        <li class="list-group-item">
            {{ note.data }}
            <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="'true">&times;</span>
            </button>
        </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div> -->
    <div id="container">
        <!-- Left column -->
        <div class="left-column column-styling column-position">
            <div class="round-white-box">
                <div id="userimage">
                    <img src="../static/images/game-assets/{{user.character}}.png" class="game-character">
                    <div id="username">
                        {{user.character}}
                    </div>
                </div>
                <div id="rank"> 
                {% if user.exp_points >= 1000 %}
                    <img src="../static/images/game-assets/rank10.png" title="General" />
                {% elif user.exp_points >= 900 %}
                    <img src="../static/images/game-assets/rank9.png" title="Colonel" />
                {% elif user.exp_points >= 800 %}
                    <img src="../static/images/game-assets/rank8.png" title="Major" />
                {% elif user.exp_points >= 700 %}
                    <img src="../static/images/game-assets/rank7.png" title="Lieutenant" />
                {% elif user.exp_points >= 600 %}
                    <img src="../static/images/game-assets/rank6.png" title="Sergeant Major" />
                {% elif user.exp_points >= 500 %}
                    <img src="../static/images/game-assets/rank5.png" title="First Sergeant" />
                {% elif user.exp_points >= 400 %}
                    <img src="../static/images/game-assets/rank4.png" title="Staff Sergeant" />
                {% elif user.exp_points >= 300 %}
                    <img src="../static/images/game-assets/rank3.png" title="Sergeant" />
                {% elif user.exp_points >= 200 %}
                    <img src="../static/images/game-assets/rank2.png" title="Corporal" />
                {% else %}
                    <img src="../static/images/game-assets/rank1.png" title="Private" />
                {% endif %}
                </div>
                <div class="stats" title="Experience Points">
                    <img src="../static/images/game-assets/xp.png" class="user-icons" />
                    {{user.exp_points}}
                </div>
                <div class="stats" title="Galactic Gems">
                    <img src="../static/images/game-assets/gems.png" class="user-icons" />
                    {{user.galactic_gems}}
                </div>
                <!-- {{user.planets_defeated}} -->
                <div class="stats" title="Power">
                    <img src="../static/images/game-assets/strength.png" class="user-icons" /> {{user.strength}}
                </div>
                <div class="stats" title="Speed">
                    <img src="../static/images/game-assets/speed.png" class="user-icons" /> {{user.speed}}
                </div>
                <div class="stats" title="Armor">
                    <img src="../static/images/game-assets/armor.png" class="user-icons" /> {{user.armor}} 
                </div>
            </div>
            
        </div>
        <!-- Right column -->
        <div class="right-column column-styling column-position">
            <div class="round-white-box increase-size">
                <!-- Displays the game tabs on the screen for the map and shop-->
                <!-- See index.js for onclick functions below-->
                <div class="game-nav">
                    <button onclick="toggleMap('map');">Map</button>
                    <button onclick="toggleMap('shop');">Shop</button>
                    <button onclick="toggleMap('help');">Help</button>
                    <hr style="background: #FBB725;">
                </div>
                
                <!-- Displays the level maps on the screen -->
                <div class="map">
                    {% set y_pos = namespace(value=-10) %}
                    {% set x_pos = namespace(value=-225) %}
                    {% for i in range(12) %}

                        {% if i == 3 or i == 4 %}
                            {% set y_pos.value = y_pos.value + 50 %}
                        {% elif i == 7 %}
                            {% set y_pos.value = y_pos.value - 50 %}
                        {% endif %}

                        {% if user.planets_defeated == i %}
                            {% set character = user.character %}
                            <div id="planet-name"></div>
                            <img src="../static/images/game-assets/planet{{i}}.png" class="planet unlocked" style="left: {{x_pos.value}}px; top: {{y_pos.value}}px;" onclick="openGame({{i}}, '{{user.character}}');" onmouseover="displayText(this, {{i}})" onmouseout="clearText(this)">
                        {% else %}
                            <img src="../static/images/game-assets/planet{{i}}.png" class="planet locked" style="left: {{x_pos.value}}px; top: {{y_pos.value}}px;" onmouseover="displayText(this, {{i}}, true)" onmouseout="clearText(this)">
                        {% endif %}
                        
                        {% set x_pos.value = x_pos.value + 115 %}
                        {% if x_pos.value > 200 %}
                            {% set x_pos.value = -225 %}
                            {% set y_pos.value = y_pos.value + 225 %}
                        {% endif %}

                        {% if i == 3  or i == 4 %}
                            {% set y_pos.value = y_pos.value - 50 %}
                        {% elif i == 8 %}
                            {% set y_pos.value = y_pos.value + 50 %}
                        {% endif %}
                        

                    {% endfor %}
                </div>
                <!-- Div that contains the shop -->
                <div class="shop">
                    <h1 style="color: white;">Shop</h1><br>
                    <form method="POST">
                        <!-- Displays the shop items for purchase -->
                        <div class="shop-item">
                            <div class="shop-item-count"> 
                                <img src="../static/images/game-assets/strength.png" class="shop-item-image">
                                <div>Power</div>
                            </div>
                            <div class="shop-item-count">
                                <button type="button" class="shop-button" onclick="updateShop('strength-number', 'add', 50, {{user.galactic_gems}});">+</button>
                                <button type="button" class="shop-button" onclick="updateShop('strength-number', 'sub', 50, {{user.galactic_gems}})">-</button>
                                <input id="strength-number" name="strength" class="shop-form" value='0' type="number">
                            </div>
                        </div>
                        <div class="shop-item">
                            <div class="shop-item-count"> 
                                <img src="../static/images/game-assets/speed.png" class="shop-item-image">
                                <div>Speed</div>
                            </div>
                            <div class="shop-item-count">
                                <button type="button" class="shop-button" onclick="updateShop('speed-number', 'add', 75, {{user.galactic_gems}});">+</button>
                                <button type="button" class="shop-button" onclick="updateShop('speed-number', 'sub', 75, {{user.galactic_gems}})">-</button>
                                <input id="speed-number" name="speed" class="shop-form" value='0' type="number">
                            </div>
                        </div>
                        <div class="shop-item">
                            <div class="shop-item-count"> 
                                <img src="../static/images/game-assets/armor.png" class="shop-item-image">
                                <div>Armor</div>
                            </div>
                            <div class="shop-item-count">
                                <button type="button" class="shop-button" onclick="updateShop('armor-number', 'add', 25, {{user.galactic_gems}});">+</button>
                                <button type="button" class="shop-button" onclick="updateShop('armor-number', 'sub', 25, {{user.galactic_gems}})">-</button>
                                <input id="armor-number" name="armor" class="shop-form" type="number" value='0'>
                            </div>
                        </div>
                        <div class="shop-item">
                            <div class="shop-item-count">
                                Coming soon!
                            </div>
                        </div>
                        <div class="shop-item">
                            <div class="shop-item-count">
                                Coming soon!
                            </div>
                        </div>
                        <!--  total-item -->
                        
                        <div class="shop-item">  
                            <div class="shop-item-count"> 
                                <button id="purchase-button" type="submit">Purchase</button>
                            </div>
                            <div class="shop-item-count"> 
                                <div style="width: 10px;"></div>
                                <img src="../static/images/game-assets/gems.png" class="shop-item-image" onclick="purchaseItems();">
                                <input id="total-price" name="price" class="shop-form" value='0' type="number" style="width: 100px;">
                                <div style="visibility: hidden;">{{user.email}}</div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Div that contains the game -->
                <div class="game">
                    <div class="canvas">
                        <!-- Puts The player's ship on the screen -->
                        <img src='../static/images/game-assets/{{user.character}}-ship.png' id='character-ship' class="no-select">
                        <!-- Puts the player's health on the screen -->
                        <div id="player-health" class="player-stats">
                            <img src="../static/images/game-assets/health-icon.png">
                            <progress value="100" max="100" id="healthbar"></progress>
                        </div>
                        <div id="player-exp-points" class="player-stats">
                            <img src="../static/images/game-assets/xp.png">
                            <div>0</div>
                        </div>
                        <div id="player-gems" class="player-stats">
                            <img src="../static/images/game-assets/gems.png">
                            <div>0</div>
                        </div>
                        <div id="menu-background"></div>
                        <!-- Displays the level menu when they first click on the planet level -->
                        <div class="level-menu">
                            <div id="level-title"></div>
                            <div id="level-subtitle"></div>
                            <div id="level-menu-content">
                                <div id="level-character"></div>
                                <div id="level-description"></div>
                            </div>
                            <!-- This start button begins the game -->
                            <button id="start" onclick="buildLevel();">Start</button>
                        </div>
                    </div>
                </div>
                <div class="help">
                    <div>
                        <h1>How to play</h1><br>
                        <p>
                            Help the Galactic Federation defeat the evil Galaxion, who
                            is trying to take over the Milky Way Galaxy. He has already 
                            infiltrated 12 planets. It's up to you to take back each planet
                            and save the galaxy!
                        </p>
                        <br>
                        <span class="key"> A </span> <span class="key"> &#8592;</span> Move Left<br><br>
                        <span class="key"> D </span> <span class="key"> &#8594;</span> Move Right<br><br>
                        <span class="key"> SPACE </span> <span class="key"> W </span> <span class="key"> &#8593; </span> Shoot Laser <br><br>
                        <p>
                            Click on a planet in the 'Map' menu. Then click the 'Start' button.
                        </p>
                        <p>
                        Avoid and destroy the enemy ships to lead the galactic
                        federation to victory against Galaxion.
                        </p>
                    </div>
                       
                </div>
            </div>
        </div>
    </div>

{% endblock %}
